<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>addNoteView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B38CAC25296D4AF8000A2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38CAC35296D4AF9000A2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38CAC3F296D4AF9000A2C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
